<header>
  <h1>Flavorful Finds</h1>
</header>
<nav class="navpages">
  <div class="dropdown">
    <button class="dropbtn">
      <div class="hamburger"></div>
      <div class="hamburger"></div>
      <div class="hamburger"></div>
    </button>
    <div class="dropdown-content">
      <a href="/recipes">Recipes</a>
      <a href="/ingredients">Ingredients</a>
      <a href="/equipment">Equipment</a>
      <a href="/users">Users</a>
      <a href="/ratings">Ratings</a>
    </div>
  </div>
</nav>
<!-- Rest of the page content -->
<div class="main-paragraph">
  <p>
    Welcome to FlavorfulFinds! Your one stop website destination for all your recipe needs.
    Find new delicious recipes, the ingredients used in them, the equipment to make it happen, or the 
    users that submitted these for you to enjoy!
  </p>
</div>
<img src="/images/spices.jpg" alt="Image of spices" class="image-style">
