<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Your ultimate destination for finding and sharing delicious recipes.">
    <meta name="keywords" content="recipes, cooking, food, flavor">
    <meta name="author" content="Noah Zajicek">
    <meta name="robots" content="noindex, nofollow, noarchive">
    <link rel="stylesheet" type="text/css" href="style.css" />
    <title>Flavorful Finds - Users</title>
  </head>
  <body>
    <header>
      <h1>Flavorful Finds - Users</h1>
      <nav class="navpages">
        <div class="dropdown">
          <button class="dropbtn">
            <div class="hamburger"></div>
            <div class="hamburger"></div>
            <div class="hamburger"></div>
          </button>
          <div class="dropdown-content">
            <a href="/">Home</a>
            <a href="/recipes">Recipes</a>
            <a href="/ingredients">Ingredients</a>
						<a href="/equipment">Equipment</a>
            <a href="/ratings">Ratings</a>
          </div>
        </div>
      </nav>
    </header>

    <section id="browse-users">
      <h2>Browse Users</h2>
      <!-- User list table goes here -->
      <table>
        <thead>
          <tr>
            <th>User ID</th>
            <th>Username</th>
            <th>Email</th>
            <th>Password</th>
          </tr>
        </thead>
        <tbody>
          {{#each users}}
          <tr>
            <td>{{userID}}</td>
            <td>{{username}}</td>
            <td>{{email}}</td>
            <td>{{password}}</td>
            <td>
              <button class="edit-button">Edit</button>
              <button class="del-button">Delete</button>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </section>

    <section id="add-user">
      <h2>Add a New User</h2>
      <form>
        <fieldset>
          <label for="user-username">Username</label>
          <input type="text" id="user-username" name="username">
          <label for="user-email">Email</label>
          <input type="email" id="user-email" name="email">
          <label for="user-password">Password</label>
          <input type="password" id="user-password" name="password">
          <!-- Additional fields for user details -->
        </fieldset>
        <button type="submit">Save</button>
        <button type="button">Cancel</button>
      </form>
    </section>

    <section id="update-user">
      <h2>Update User</h2>
      <form>
        <fieldset>
          <label for="user-username">Username</label>
          <input type="text" id="user-username" name="username">
          <label for="user-email">Email</label>
          <input type="email" id="user-email" name="email">
          <label for="user-password">Password</label>
          <input type="password" id="user-password" name="password">
          <!-- Additional fields for user details -->
        </fieldset>
        <button type="submit">Save</button>
        <button type="button">Cancel</button>
      </form>
    </section>
  </body>
</html>
